
h2 {
    text-align: center;
}


.avatar {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    border-radius: 50%;
}

.Intro {
    background-color: #E3BFED;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
}

.personal {
    
    
}

.IT {
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFAAD;
    display: flex;
}


.buttons {

    display: flex;
    justify-content: center;
}

button {
    display: inline-block;
    color: #0f1419;
    border: 1px solid #cfd9de;
    border-radius: 20px;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;

    margin-left: 10px;
    margin-right: 10px;
}
